CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_SPL=y
CONFIG_MACH_SUN50I=y
CONFIG_RESERVE_ALLWINNER_BOOT0_HEADER=y
CONFIG_SUNXI_DRAM_LPDDR3_STOCK=y
CONFIG_DRAM_CLK=552
CONFIG_DRAM_ZQ=3881949
CONFIG_DRAM_ODT_EN=y
CONFIG_MMC0_CD_PIN=""
CONFIG_MMC_SUNXI_SLOT_EXTRA=-1
CONFIG_SPL_SPI_SUNXI=y
CONFIG_DEFAULT_DEVICE_TREE="sun50i-a64-sopine-baseboard"
CONFIG_SUN8I_EMAC=y
CONFIG_USB_EHCI_HCD=y
CONFIG_SYS_USB_EVENT_POLL_VIA_INT_QUEUE=y
#
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_DM_GPIO=y
CONFIG_SUNXI_SPI=y
CONFIG_DM_SPI_FLASH=y
CONFIG_CMD_SF=y
CONFIG_CMD_SPI=y
CONFIG_CMD_FLASH=y
CONFIG_CMD_POWEROFF=y
CONFIG_CMD_SF=y
CONFIG_CMD_SF_TEST=y
CONFIG_CMD_SPI=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SF_DEFAULT_BUS=0
CONFIG_SF_DEFAULT_CS=0
CONFIG_SF_DEFAULT_SPEED=24000000
CONFIG_SF_DEFAULT_MODE=0
#
# LED Support
#
CONFIG_LED=y
CONFIG_LED_BLINK=y
CONFIG_LED_GPIO=y
#
CONFIG_ENV_SIZE=0x20000
CONFIG_ENV_OFFSET=0xE0000
#
# Environment
CONFIG_ENV_IS_IN_SPI_FLASH=y
#
# Boot media
#
CONFIG_SD_BOOT=y
CONFIG_SPI_BOOT=y
CONFIG_BOOTDELAY=1
CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="run distro_bootcmd"
#
# Power Domain Support
CONFIG_AXP803_POWER=y
CONFIG_AXP_DCDC1_VOLT=3300
CONFIG_AXP_DCDC2_VOLT=1100
CONFIG_AXP_DCDC3_VOLT=1100
CONFIG_AXP_DCDC4_VOLT=0
CONFIG_AXP_DCDC5_VOLT=1350
CONFIG_AXP_ALDO1_VOLT=2800
CONFIG_AXP_ALDO2_VOLT=1800
CONFIG_AXP_ALDO3_VOLT=3000
CONFIG_AXP_DLDO1_VOLT=3300
CONFIG_AXP_DLDO2_VOLT=0
CONFIG_AXP_DLDO3_VOLT=0
CONFIG_AXP_DLDO4_VOLT=0
CONFIG_AXP_ELDO1_VOLT=1800
CONFIG_AXP_ELDO2_VOLT=0
CONFIG_AXP_ELDO3_VOLT=0
CONFIG_AXP_FLDO1_VOLT=0
CONFIG_AXP_FLDO2_VOLT=1100
CONFIG_AXP_SW_ON=y

